<h3>Здравствуйте, <b>{{firstname}} {{lastname}}</b></h3>
<br>
<p>Вы успешно зарегистрированы в сервисе readme.<p>
<p>Используйте e-mail {{email}} и указанный при регистации пароль для входа в readme аккаунт.</p>
<br>
