<h3>Здравствуйте, <b>{{firstname}} {{lastname}}</b></h3>
<br>
<p>Ваш email <b>{{email}}</b> добавлен в список информационных рассылок.<p>
<p>Мы пришлем Вам уведомление о появлении новых публикаций на этот email.</p>
<br>
